.hero{
    display: flex;
}
.hero-left{
    background: url("../images/01.png") no-repeat center/cover;
    width: 500px;
    height: 500px;
    opacity: 0.8;
}
.hero-right-top{
        background: url("../images/02.png") no-repeat center/cover;
        width: 500px;
        height: 250px;
}
.hero-right-bottom{
        background: url("../images/08.png") no-repeat center/cover;
        width: 500px;
        height: 250px;
}
.left-top{
        display: flex;
    }

.left-top-left{
    background: url("../images/03.png") no-repeat center/cover;
    width: 500px;
    height:200px;
}
.left-top-right{
    background: url("../images/04.png") no-repeat center/cover;
    width:200px;
    height:200px;
}
.right{
    background: url("../images/07.png") no-repeat center/cover;
    width: 300px;
    height:400px;
}
.left-bottom-left{
    display: inline-block;
    background: url("../images/05.png") no-repeat center/cover;
    width:200px;
    height:200px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 508px;
    top: 708px;

}
.left-bottom-right{
    display: inline-block;
    background: url("../images/06.png") no-repeat center/cover;
    width: 500px;
    height:200px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 8px;
    top: 708px;
}










